In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Porto Nacional,BR,2020-11-09 02:22:57,-10.71,-48.42,80.60,69,20,4.70
1,1,Rikitea,PF,2020-11-09 02:22:57,-23.12,-134.97,72.99,78,100,15.23
2,2,Castro,BR,2020-11-09 02:22:43,-24.79,-50.01,64.58,68,43,6.44
3,3,Atuona,PF,2020-11-09 02:22:58,-9.80,-139.03,77.68,64,74,12.53
4,4,Tuktoyaktuk,CA,2020-11-09 02:22:58,69.45,-133.04,14.00,92,75,8.05

In [3]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [9]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [14]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Porto Nacional,BR,2020-11-09 02:22:57,-10.71,-48.42,80.60,69,20,4.70
3,3,Atuona,PF,2020-11-09 02:22:58,-9.80,-139.03,77.68,64,74,12.53
7,7,Manokwari,ID,2020-11-09 02:22:58,-0.87,134.08,85.06,67,100,9.82
21,21,Alice Town,BS,2020-11-09 02:23:02,25.72,-79.30,79.20,85,100,40.60
23,23,Cabo San Lucas,MX,2020-11-09 02:23:02,22.89,-109.91,78.80,73,5,16.11
28,28,Bambanglipuro,ID,2020-11-09 02:23:04,-7.95,110.28,84.61,69,81,9.37
38,38,Avarua,CK,2020-11-09 02:23:07,-21.21,-159.78,80.60,69,80,5.82
50,50,Ahuimanu,US,2020-11-09 02:23:09,21.44,-157.84,86.00,58,75,10.29
52,52,Vaini,TO,2020-11-09 02:23:09,-21.20,-175.20,82.40,69,20,8.05
61,61,New Norfolk,AU,2020-11-09 02:20:08,-42.78,147.06,77.00,26,0,4.00

In [15]:
preferred_cities_df.count()

City_ID       155
City          155
Country       155
Date          155
Lat           155
Lng           155
Max Temp      155
Humidity      155
Cloudiness    155
Wind Speed    155
dtype: int64

In [16]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp    Lat     Lng Hotel Name
0   Porto Nacional      BR     80.60 -10.71  -48.42
3           Atuona      PF     77.68  -9.80 -139.03
7        Manokwari      ID     85.06  -0.87  134.08
21      Alice Town      BS     79.20  25.72  -79.30
23  Cabo San Lucas      MX     78.80  22.89 -109.91
28   Bambanglipuro      ID     84.61  -7.95  110.28
38          Avarua      CK     80.60 -21.21 -159.78
50        Ahuimanu      US     86.00  21.44 -157.84
52           Vaini      TO     82.40 -21.20 -175.20
61     New Norfolk      AU     77.00 -42.78  147.06

In [20]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [21]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Porto Nacional,BR,80.60,-10.71,-48.42,Vila Real Hotel
3,Atuona,PF,77.68,-9.80,-139.03,Villa Enata
7,Manokwari,ID,85.06,-0.87,134.08,Swiss Belhotel Manokwari
21,Alice Town,BS,79.20,25.72,-79.30,Bimini Big Game Club Resort & Marina
23,Cabo San Lucas,MX,78.80,22.89,-109.91,Hotel Tesoro Los Cabos
28,Bambanglipuro,ID,84.61,-7.95,110.28,Puri Brata
38,Avarua,CK,80.60,-21.21,-159.78,Paradise Inn
50,Ahuimanu,US,86.00,21.44,-157.84,Paradise Bay Resort
52,Vaini,TO,82.40,-21.20,-175.20,Keleti Beach Resort
61,New Norfolk,AU,77.00,-42.78,147.06,The Shingles Riverside Cottages

In [25]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [26]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))